@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

html, body{
    margin:0px;
    height:100%;
  }
.pie_aplicacion{
    width: 100%;
    background-color: green;
    height: 50%;
}

body > div > div.layout_menu_lateral.uk-width-1-6\@s{
    background-color: white;
}

.uk-flex{
    background-color: #f2f2f2;
}

/*fija el menú lateral del layout*/
#posicion_fija{
  position:fixed;
}

.centrar_celda{
    text-align: center;
}

.layout_menu_lateral{
    padding-top: 30px;
    width: 14%;
    padding-left: 1%;
    
}

.layout_pie{
    background-color: lightsalmon;
}

.layout_contenedor{
    margin-left:30px;
    margin-top: 30px;
}

.lay_user{
    color: honeydew !important;
}

.lay_user:hover{
    color: black !important;
}


#listado{
    background-color: #1da1f2;
    
}


/*LISTADO ALQUILER*/

#alq_btn_nuevo_alquiler a{
    color: white;
    text-decoration: none;
    
}

#alq_btn_nuevo_alquiler{
    margin-bottom: 20px;
}   

#alq_pasados{
    background-color:lightgrey;
}

#alq_vigente{
    background-color: lightgreen;
}

#alq_incidencia{
    background-color: #ff8787;
    
}


.alq_btn_plus{
    cursor: pointer;
}

/*FIN LISTADO ALQUILER*/


/*CREACIÓN ALQUILER*/
.caja_maquinas{
    
    border: 1px solid lightgray;
    padding: 10px;;
}

.alq_caja_de_complementos{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;

}

/*FIN CREACIÓN ALQUILER*/



/*CREACIÓN DE CLIENTES*/

.cli_select{
    border: yellow;
}

#cli_btn_nuevo_cliente a{
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
}

#cli_btn_nuevo_cliente{
    margin-bottom: 20px;
}

#val_maquina{
    border: 1x solid gray !important;
}


/*Select*/
/* select */
.bt-select-field .select2-container {
    width: 270px !important;
  }
  .bt-select-field .select2-container .select2-selection--single { height: 45px; padding: 8px 10px 8px 30px; }
  .bt-select-field .select2-dropdown { background-color: white; border: 1px solid #ccc; border-radius: 0px; }
  .bt-select-field .select2-results__option { padding: 6px; }
  .bt-select-field .select2-container--default .select2-selection--single { background-color: #fff; border: 1px solid #ccc; border-radius: 0px; }
  .bt-select-field .select2-container--default .select2-selection--single .select2-selection__rendered { color: #444; }
  .bt-select-field .select2-container--default .select2-selection--single .select2-selection__arrow {height: 44px;top: 1px;right: 5px;width: 20px; }
  .bt-select-field .select2-container--default .select2-selection--single .select2-selection__arrow b { border-color: #888 transparent transparent transparent; }
  .bt-select-field .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b { border-color: transparent transparent #888 transparent; border-width: 0 4px 5px 4px; }
  .bt-select-field .select2-container--default .select2-search--dropdown .select2-search__field { border: 1px solid #ccc; }
  .bt-select-field .select2-container--default .select2-results__option[aria-selected=true] { background-color: #ddd; }
  .bt-select-field .select2-container--default .select2-results__option--highlighted[aria-selected] { background-color: #5897fb; color: white; }
  .bt-select-field .select2-container--default .select2-results__group { padding: 6px; }
  