/*fija el menú lateral del layout*/
#posicion_fija{
  position:fixed;
}

.layout_menu_lateral{
    padding: 50px;
}

.layout_contenedor{
    margin-left:30px ;
}

#alq_pasados{
    background-color:lightgrey;
}

#alq_vigente{
    background-color: lightgreen;
}

tbody tr td{

}

.alq_btn_plus{
    cursor: pointer;
}