/*fija el menú lateral del layout*/
#posicion_fija{
  position:fixed;
}

.layout_menu_lateral{
    padding: 70px;
}

.layout_contenedor{
    margin-left:30px;
    margin-top: 30px;

}



#listado{
    background-color: red;
    
}


/*LISTADO ALQUILER*/

#alq_btn_nuevo_alquiler a{
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
}

#alq_btn_nuevo_alquiler{
    margin-bottom: 20px;
}

#alq_pasados{
    background-color:lightgrey;
}

#alq_vigente{
    background-color: lightgreen;
}

#alq_incidencia{
    background-color: red;
}


.alq_btn_plus{
    cursor: pointer;
}

/*FIN LISTADO ALQUILER*/



/*CREACIÓN DE CLIENTES*/

#cli_select{
    border: yellow;
}

#cli_btn_nuevo_cliente a{
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
}

#cli_btn_nuevo_cliente{
    margin-bottom: 20px;
}
